/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.scss to edit this template
*/
/*
    Created on : Jan 23, 2025, 9:59:58 AM
    Author     : hungk
*/

.about {

    &-banner.mil-banner {
        padding-top: 0;
    }

    &-footer {
        &__logo {
            flex-shrink: 0;
        }
    }

    &-section__title, &-section__desc {
        font-family: sans-serif;
        text-align: center;
    }

    &-section__title {
        font-size: 30px;
        margin: 50px 0 30px;
    }

    &-section__desc {
        margin-left: auto;
        margin-right: auto;
        width: 800px;
    }

    &-introduction {
        &__list {
            list-style-type: none;
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        &__item {
            color: #000;
            background-color: #ccc;
            border-radius: 99px;
            padding: 10px 20px;
            cursor: context-menu;

            &--current {
                color: #fff;
                background-color: green;
            }
        }

        &__item:hover:not(&__item--current) {
            color: #a1c76d;
            background: #f8ffec;
            cursor: pointer;
        }

        &__content {
            display: none;

            &--current {
                display: block;
            }
        }




    }


}

.menu {
    margin-top: $mil-top-panel-heigh;
    padding: 20px;

    &-list {
        display: flex;
        align-items: center;

    }

    &-item {
        list-style-type: none;
        display: flex;
    }

    &-label {
        position: relative;
        font-weight: 600;
        color: rgb(137, 141, 150);
    }

    &-label + &-label {
        margin-left: 50px;
    }

    &-label:hover {
        color: #008000;
    }

    &-form__search {
        display: flex;
        justify-content: flex-end;

        &-input {
            width: 200px;
            border-radius: 8px;
            border: 1px solid #ccc;
            margin-right: 10px;
        }
    }
    
    &-label:hover .sub-menu-item{
        display: block;
    }

    & .sub-menu-item {
        display: none;
        position: absolute;
        z-index: 992;
        width: 250px;
        background: #fff;
        border-radius: 8px;
        list-style-type: none;
        box-shadow: 0px 0.5px 3px 0px #000;
        overflow: hidden;
    }
    
    & .sub-menu-link {
        
        display: block;
        color: rgb(137, 141, 150);
        padding: 15px 20px;
        border-bottom: 1px solid #ccc;
    }
    
    & .sub-menu-link:hover {
        border-radius: 8px;
        color: #008000;
        background-color: rgb(242, 250, 250);
    }
    
    
}


